@using ProductionApp.Helpers
@using ProductionApp.Models
@{
    UserModels user = (UserModels)Session["SignedInUser"];
    ProductionAppEntities db = new ProductionAppEntities();
}


@{

    ViewBag.Title = "Adjust Endline Results";
}
<!-- END TOP NAVIGATION MENU -->
<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            <small>Adjust Endline Results</small>
        </h3>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->


<style>
    span.field-validation-error {
        color: red;
    }
</style>

@using (Html.BeginForm("EndlineEdit", "QCModule", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <div class="portlet box gray ">
        <div class="portlet-title">

        </div>
        <div class="portlet-body ">
            <div class="row margin-bottom-0 margin-top-20" id="DivShowData">
                <div class="row">
                    @*<div style="background-color:#f5f5f5; padding:20px">*@

                    @*</div>*@
                    <div style="width:95%; margin:0 auto" class="tablecontainer" @*class="table-responsive" style="width: 90%; margin: 0 auto"*@>
                        @*<a class="popup btn btn-primary" href="/home/save/0" style="margin-bottom:20px; margin-top:20px;">Add New Endline</a>*@
                        <table class="table table-striped table-bordered table-hover" style="width: 25%; margin-left:auto">
                            <tbody>
                                <tr>
                                    <td>Date</td>
                                    <td><input placeholder="yyyy-mm-dd" type="text" id="txtEmployeeName" data-provide="datepicker" data-date-format="yyyy-mm-dd" /></td>
                                    <td> 
                                        <input type="button" value="Search" id="btnSearch" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table id="myDatatable" class="table table-striped table-bordered table-hover" style="width:100%">
                            <thead>
                                <tr class="panel panel-default">
                                    <th colspan="18" style="text-align:center;" class="panel-heading">Adjust Endline Results</th>
                                </tr>
                                <tr style="background-color: darkseagreen; text-align: center;">
                                    <th>Mã NV QC</th>
                                    <th>Mã CN</th>
                                    @*<th>SUPRNT</th>*@
                                    <th>Tổ SX</th>
                                    <th>Mã Lỗi</th>
                                    <th>Số Lỗi</th>
                                    <th>BIZ_ID</th>
                                    <th>Ngày Nhập</th>
                                    @*<th>TS_2</th>*@
                                    @*<th>Comment</th>*@
                                    <th>Mã CĐ</th>
                                    <th>TOTAL</th>
                                    @*<th>TS1</th>*@
                                    @*<th>TS2</th>*@
                                    <th>OTFQ</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    


    <script>
        $('.datepicker').datepicker({
            startDate: '-3d'
        })
    </script>
    <script>
        $(document).ready(function () {
            var oTable = $('#myDatatable').DataTable({
                //dom: 'Bfrtip',
                //"pageLength":50,
                info: false,

                "processing": true, // for show processing bar
                "serverSide": true, // for process on server side
                "orderMulti": false, // for disable multi column order
                "dom": '<"top"i>rt<"bottom"lp><"clear">',
                "ajax": {
                    "url": "/QCModule/GetTBL_QC_ENDLINE",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
        { "data": "QC_STAFF_ID", "name": "QC_STAFF_ID", "autoWidth": true },
        { "data": "WORKER_ID", "name": "WORKER_ID", "autoWidth": true },
        //{ "data": "SUPRNT_ID", "autoWidth": true },
        { "data": "LINE_ID", "name": "LINE_ID", "autoWidth": true },
        { "data": "DEFECT_ID", "name": "DEFECT_ID", "autoWidth": true },
        { "data": "QUANTITY", "name": "QUANTITY", "autoWidth": true },
        { "data": "BIZI_ID", "name": "BIZI_ID", "autoWidth": true },
        //{ "data": "TS_1", "autoWidth": true, },
        {
            "data": "TS_1",
            "name": "TS_1",
            "type": "datetime",
            "render": function (value) {
                if (value === null) return "";
                var pattern = /Date\(([^)]+)\)/;//date format from server side
                var results = pattern.exec(value);
                var dt = new Date(parseFloat(results[1]));
                return (dt.getFullYear() + "-" + (dt.getMonth() + 1) + "-" + dt.getDate());
            }, "autoWidth": true
        },
        //{ "data": "TS_2", "autoWidth": true },
        //{ "data": "COMMENT", "autoWidth": true },
        { "data": "PROCESS_ID", "name": "PROCESS_ID", "autoWidth": true },
        { "data": "TOTAL_SAMPLE", "name": "TOTAL_SAMPLE", "autoWidth": true },
        //{ "data": "TS_1_USER", "autoWidth": true },
        //{ "data": "TS_2_USER", "autoWidth": true },
        { "data": "OTFQ", "name": "OTFQ", "autoWidth": true },
        {
            "data": "ID", "width": "50px", "render": function (data) {
                return '<a class="popup" href="/QCModule/save/' + data + '">Edit</a>';
            }
        },
        {
            "data": "ID", "width": "50px", "render": function (data) {
                return '<a class="popup" href="/QCModule/delete/' + data + '">Delete</a>';
            }
        }
                ],
            });
            //Apply Custom search on jQuery DataTables here
            oTable = $('#myDatatable').DataTable();
            $('#btnSearch').click(function () {
                //Apply search for Employee Name // DataTable column index 0
                oTable.columns(6).search($('#txtEmployeeName').val().trim());
                //Apply search for Country // DataTable column index 3
                //    //oTable.columns(3).search($('#ddCountry').val().trim());
                //    //hit search on server
                oTable.draw();
            });

            $('.tablecontainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'));
            });


            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');

                });

                $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                          .html($pageContent)
                          .dialog({
                              draggable: false,
                              autoOpen: false,
                              resizable: false,
                              model: true,
                              title: 'Popup Dialog',
                              height: 550,
                              width: 600,
                              close: function () {
                                  $dialog.dialog('destroy').remove();
                              }
                          })

                $('.popupWindow').on('submit', '#popupForm', function (e) {
                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            if (data.status) {
                                $dialog.dialog('close');
                                oTable.ajax.reload();
                            }
                        }
                    })

                    e.preventDefault();
                })
                $dialog.dialog('open');
            }
        })
    </script>
}