@{
    ViewBag.Title = "PROCESS AUDIT SCAN";
}
@section Styles {
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <link href="~/Content/themes/assets/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/assets/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <!-- END PAGE LEVEL PLUGIN STYLES -->
}
<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
             <small>Process Audit</small>
        </h3>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN EXAMPLE TABLE PORTLET-->
@using (Html.BeginForm("AddPAudit", "QCModule", FormMethod.Post,new { name = "frmScanDefect", id = "frmScanDefect" }))
{
    <div class="portlet box gray">
        <div class="portlet-title">

        </div>
        <div class="portlet-body ">
            <div class="row margin-bottom-10">
                <div class="col-md-1 bold" style="line-height: 32px; text-align: right">
                    Mã NV QC:
                </div>
                <div class="col-md-1">
                    <input type="text" name="txtQCID" id="txtQCID" class="form-control" tabindex="1" value="" required />
                </div>
                <div class="col-md-1 bold" style="line-height: 32px; text-align: right">
                    Tổ SX:
                </div>
                <div class="col-md-1">
                    <input type="text" name="txtGroup" id="txtGroup" class="form-control" tabindex="2" value="" required/>
                </div>
                @*<div class="col-md-1 bold" style="line-height: 32px; text-align: right">
                    Tổng điểm
                </div>*@
                <div class="col-md-1">
                    <label name="txtScore" id="txtScore" value=""></label>
                </div>
            </div>

            <div class="row margin-bottom-10">
                <div class="col-md-2">
                </div>
                <div class="col-md-2">
                    <label id="lblGr" style="color:red; font-style:italic; font:bold 12px; text-align:right; width:100% "></label>
                </div>
                <div class="col-md-2">
                </div>
            </div>

            <div class="row">
                <div class="table-responsive" style="align-items:center; margin-top:15px;">
                    <table class="table table-striped table-bordered table-hover align-center" style="width:90%;">
                        <thead class="portlet-body">
                            <tr>
                                <th style="text-align:center">No.</th>
                                <th style="text-align:center">Ngày</th>
                                <th style="text-align:center">8 SP tem xanh</th>
                                <th style="text-align:center">Phân loại IRR</th>
                                <th style="text-align:center">FML Đóng túi</th>
                                <th style="text-align:center">FML Đóng Thùng</th>
                                <th style="text-align:center">FML Sản phẩm</th>
                                <th style="text-align:center">Phân tách hàng</th>
                                <th style="text-align:center">SD đồ gá</th>
                                <th style="text-align:center">Bảng GetTT đúng</th>
                                <th style="text-align:center">Thảo luận VĐ CL</th>
                                <th style="text-align:center">SD máy dò kim</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td> <input type="text" name="txtDate1" id="txtDate1" class="form-control isdate" tabindex="3" autocomplete="off" /> </td>
                                <td> <input type="text" name="txtGreenLabel1" id="txtGreenLabel1" class="form-control height-auto" tabindex="4" value="" /> </td>
                                <td> <input type="text" name="txtIRR1" id="txtIRR1" class="form-control height-auto" tabindex="5" value="" /> </td>
                                <td> <input type="text" name="txtFmlPkgs1" id="txtFmlPkgs1" class="form-control height-auto" tabindex="6" value="" /> </td>
                                <td> <input type="text" name="txtFmlCase1" id="txtFmlCase1" class="form-control height-auto" tabindex="7" value="" /> </td>
                                <td> <input type="text" name="txtFmlGarment1" id="txtFmlGarment1" class="form-control height-auto" tabindex="8" value="" /> </td>
                                <td> <input type="text" name="txtLayout1" id="txtLayout1" class="form-control height-auto" tabindex="9" value="" /> </td>
                                <td> <input type="text" name="txtUsingTool1" id="txtUsingTool1" class="form-control height-auto" tabindex="10" value="" /> </td>
                                <td> <input type="text" name="txtUsingInfoTbl1" id="txtUsingInfoTbl1" class="form-control height-auto" tabindex="11" value="" /> </td>
                                <td> <input type="text" name="txtPrbdiscuss1" id="txtPrbdiscuss1" class="form-control height-auto" tabindex="12" value="" /> </td>
                                <td> <input type="text" name="txtMetalScan1" id="txtMetalScan1" class="form-control height-auto" tabindex="13" value="" /> </td>
                            </tr>

                            <tr>
                                <td>2</td>
                                <td> <input type="text" name="txtDate2" id="txtDate2" class="form-control isdate" tabindex="14" autocomplete="off" /> </td>
                                <td> <input type="text" name="txtGreenLabel2" id="txtGreenLabel2" class="form-control height-auto" tabindex="15" value="" /> </td>
                                <td> <input type="text" name="txtIRR2" id="txtIRR2" class="form-control height-auto" tabindex="16" value="" /> </td>
                                <td> <input type="text" name="txtFmlPkgs2" id="txtFmlPkgs2" class="form-control height-auto" tabindex="17" value="" /> </td>
                                <td> <input type="text" name="txtFmlCase2" id="txtFmlCase2" class="form-control height-auto" tabindex="18" value="" /> </td>
                                <td> <input type="text" name="txtFmlGarment2" id="txtFmlGarment2" class="form-control height-auto" tabindex="19" value="" /> </td>
                                <td> <input type="text" name="txtLayout2" id="txtLayout2" class="form-control height-auto" tabindex="20" value="" /> </td>
                                <td> <input type="text" name="txtUsingTool2" id="txtUsingTool2" class="form-control height-auto" tabindex="21" value="" /> </td>
                                <td> <input type="text" name="txtUsingInfoTbl2" id="txtUsingInfoTbl2" class="form-control height-auto" tabindex="22" value="" /> </td>
                                <td> <input type="text" name="txtPrbdiscuss2" id="txtPrbdiscuss2" class="form-control height-auto" tabindex="23" value="" /> </td>
                                <td> <input type="text" name="txtMetalScan2" id="txtMetalScan2" class="form-control height-auto" tabindex="24" value="" /> </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td> <input type="text" name="txtDate3" id="txtDate3" class="form-control isdate" tabindex="25" autocomplete="off" /> </td>
                                <td> <input type="text" name="txtGreenLabel3" id="txtGreenLabel3" class="form-control height-auto" tabindex="26" value="" /> </td>
                                <td> <input type="text" name="txtIRR3" id="txtIRR3" class="form-control height-auto" tabindex="27" value="" /> </td>
                                <td> <input type="text" name="txtFmlPkgs3" id="txtFmlPkgs3" class="form-control height-auto" tabindex="28" value="" /> </td>
                                <td> <input type="text" name="txtFmlCase3" id="txtFmlCase3" class="form-control height-auto" tabindex="29" value="" /> </td>
                                <td> <input type="text" name="txtFmlGarment3" id="txtFmlGarment3" class="form-control height-auto" tabindex="30" value="" /> </td>
                                <td> <input type="text" name="txtLayout3" id="txtLayout3" class="form-control height-auto" tabindex="31" value="" /> </td>
                                <td> <input type="text" name="txtUsingTool3" id="txtUsingTool3" class="form-control height-auto" tabindex="32" value="" /> </td>
                                <td> <input type="text" name="txtUsingInfoTbl3" id="txtUsingInfoTbl3" class="form-control height-auto" tabindex="33" value="" /> </td>
                                <td> <input type="text" name="txtPrbdiscuss3" id="txtPrbdiscuss3" class="form-control height-auto" tabindex="34" value="" /> </td>
                                <td> <input type="text" name="txtMetalScan3" id="txtMetalScan3" class="form-control height-auto" tabindex="35" value="" /> </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td> <input type="text" name="txtDate4" id="txtDate4" class="form-control isdate" tabindex="36" autocomplete="off" /> </td>
                                <td> <input type="text" name="txtGreenLabel4" id="txtGreenLabel4" class="form-control height-auto" tabindex="37" value="" /> </td>
                                <td> <input type="text" name="txtIRR4" id="txtIRR4" class="form-control height-auto" tabindex="38" value="" /> </td>
                                <td> <input type="text" name="txtFmlPkgs4" id="txtFmlPkgs4" class="form-control height-auto" tabindex="39" value="" /> </td>
                                <td> <input type="text" name="txtFmlCase4" id="txtFmlCase4" class="form-control height-auto" tabindex="40" value="" /> </td>
                                <td> <input type="text" name="txtFmlGarment4" id="txtFmlGarment4" class="form-control height-auto" tabindex="41" value="" /> </td>
                                <td> <input type="text" name="txtLayout4" id="txtLayout4" class="form-control height-auto" tabindex="42" value="" /> </td>
                                <td> <input type="text" name="txtUsingTool4" id="txtUsingTool4" class="form-control height-auto" tabindex="43" value="" /> </td>
                                <td> <input type="text" name="txtUsingInfoTbl4" id="txtUsingInfoTbl4" class="form-control height-auto" tabindex="44" value="" /> </td>
                                <td> <input type="text" name="txtPrbdiscuss4" id="txtPrbdiscuss4" class="form-control height-auto" tabindex="45" value="" /> </td>
                                <td> <input type="text" name="txtMetalScan4" id="txtMetalScan4" class="form-control height-auto" tabindex="46" value="" /> </td>
                            </tr>

                            <tr>
                                <td>5</td>
                                <td> <input type="text" name="txtDate5" id="txtDate5" class="form-control isdate" tabindex="47" autocomplete="off" /> </td>
                                <td> <input type="text" name="txtGreenLabel5" id="txtGreenLabel5" class="form-control height-auto" tabindex="48" value="" /> </td>
                                <td> <input type="text" name="txtIRR5" id="txtIRR5" class="form-control height-auto" tabindex="49" value="" /> </td>
                                <td> <input type="text" name="txtFmlPkgs5" id="txtFmlPkgs5" class="form-control height-auto" tabindex="50" value="" /> </td>
                                <td> <input type="text" name="txtFmlCase5" id="txtFmlCase5" class="form-control height-auto" tabindex="51" value="" /> </td>
                                <td> <input type="text" name="txtFmlGarment5" id="txtFmlGarment5" class="form-control height-auto" tabindex="52" value="" /> </td>
                                <td> <input type="text" name="txtLayout5" id="txtLayout5" class="form-control height-auto" tabindex="53" value="" /> </td>
                                <td> <input type="text" name="txtUsingTool5" id="txtUsingTool5" class="form-control height-auto" tabindex="54" value="" /> </td>
                                <td> <input type="text" name="txtUsingInfoTbl5" id="txtUsingInfoTbl5" class="form-control height-auto" tabindex="55" value="" /> </td>
                                <td> <input type="text" name="txtPrbdiscuss5" id="txtPrbdiscuss5" class="form-control height-auto" tabindex="56" value="" /> </td>
                                <td> <input type="text" name="txtMetalScan5" id="txtMetalScan5" class="form-control height-auto" tabindex="57" value="" /> </td>
                            </tr>

                            <tr>
                                <td>6</td>
                                <td> <input type="text" name="txtDate6" id="txtDate6" class="form-control isdate" autocomplete="off" tabindex="58" /> </td>
                                <td> <input type="text" name="txtGreenLabel6" id="txtGreenLabel6" class="form-control height-auto" tabindex="59" value="" /> </td>
                                <td> <input type="text" name="txtIRR6" id="txtIRR6" class="form-control height-auto" tabindex="60" value="" /> </td>
                                <td> <input type="text" name="txtFmlPkgs6" id="txtFmlPkgs6" class="form-control height-auto" tabindex="61" value="" /> </td>
                                <td> <input type="text" name="txtFmlCase6" id="txtFmlCase6" class="form-control height-auto" tabindex="62" value="" /> </td>
                                <td> <input type="text" name="txtFmlGarment6" id="txtFmlGarment6" class="form-control height-auto" tabindex="63" value="" /> </td>
                                <td> <input type="text" name="txtLayout6" id="txtLayout6" class="form-control height-auto" tabindex="64" value="" /> </td>
                                <td> <input type="text" name="txtUsingTool6" id="txtUsingTool6" class="form-control height-auto" tabindex="65" value="" /> </td>
                                <td> <input type="text" name="txtUsingInfoTbl6" id="txtUsingInfoTbl6" class="form-control height-auto" tabindex="66" value="" /> </td>
                                <td> <input type="text" name="txtPrbdiscuss6" id="txtPrbdiscuss6" class="form-control height-auto" tabindex="67" value="" /> </td>
                                <td> <input type="text" name="txtMetalScan6" id="txtMetalScan6" class="form-control height-auto" tabindex="68" value="" /> </td>
                            </tr>

                            <tr>
                                <td>7</td>
                                <td> <input type="text" name="txtDate7" id="txtDate7" class="form-control isdate" autocomplete="off" tabindex="69" /> </td>
                                <td> <input type="text" name="txtGreenLabel7" id="txtGreenLabel7" class="form-control height-auto" tabindex="70" value="" /> </td>
                                <td> <input type="text" name="txtIRR7" id="txtIRR7" class="form-control height-auto" tabindex="71" value="" /> </td>
                                <td> <input type="text" name="txtFmlPkgs7" id="txtFmlPkgs7" class="form-control height-auto" tabindex="72" value="" /> </td>
                                <td> <input type="text" name="txtFmlCase7" id="txtFmlCase7" class="form-control height-auto" tabindex="73" value="" /> </td>
                                <td> <input type="text" name="txtFmlGarment7" id="txtFmlGarment7" class="form-control height-auto" tabindex="74" value="" /> </td>
                                <td> <input type="text" name="txtLayout7" id="txtLayout7" class="form-control height-auto" tabindex="75" value="" /> </td>
                                <td> <input type="text" name="txtUsingTool7" id="txtUsingTool7" class="form-control height-auto" tabindex="76" value="" /> </td>
                                <td> <input type="text" name="txtUsingInfoTbl7" id="txtUsingInfoTbl7" class="form-control height-auto" tabindex="77" value="" /> </td>
                                <td> <input type="text" name="txtPrbdiscuss7" id="txtPrbdiscuss7" class="form-control height-auto" tabindex="78" value="" /> </td>
                                <td> <input type="text" name="txtMetalScan7" id="txtMetalScan7" class="form-control height-auto" tabindex="79" value="" /> </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="table-responsive" style="align-items:center; margin-top:15px;">
                    <table class="table table-striped table-bordered table-hover align-center" style="width:40%;">
                        <thead class="portlet-body">
                            <tr>
                                <th style="text-align:center">No.</th>
                                <th style="text-align:center">Date</th>
                                <th style="text-align:center">Mã CN</th>
                                <th style="text-align:center">Mã CĐ</th>
                                <th style="text-align:center">Mã Lỗi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td >1</td>
                                <td> <input type="text" name="txtEmpVioDate1" id="txtEmpVioDate1" class="form-control isdate" autocomplete="off" tabindex="80" /> </td>
                                <td > <input type="text" name="txtEmpID1" id="txtEmpID1" class="form-control height-auto" tabindex="81" value="" /> </td>
                                <td > <input type="text" name="txtProID1" id="txtProID1" class="form-control height-auto" tabindex="82" value="" /> </td>
                                <td > <input type="text" name="txtDefID1" id="txtDefID1" class="form-control height-auto" tabindex="83" value="" /> </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td> <input type="text" name="txtEmpVioDate2" id="txtEmpVioDate2" class="form-control isdate" autocomplete="off" tabindex="84" /> </td>
                                <td> <input type="text" name="txtEmpID2" id="txtEmpID2" class="form-control height-auto" tabindex="85" /> </td>
                                <td> <input type="text" name="txtProID2" id="txtProID2" class="form-control height-auto" tabindex="86" /> </td>
                                <td> <input type="text" name="txtDefID2" id="txtDefID2" class="form-control height-auto" tabindex="87" /> </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td> <input type="text" name="txtEmpVioDate3" id="txtEmpVioDate3" class="form-control isdate" autocomplete="off" tabindex="88" /> </td>
                                <td> <input type="text" name="txtEmpID3" id="txtEmpID3" class="form-control height-auto" tabindex="89" /> </td>
                                <td> <input type="text" name="txtProID3" id="txtProID3" class="form-control height-auto" tabindex="90" /> </td>
                                <td> <input type="text" name="txtDefID3" id="txtDefID3" class="form-control height-auto" tabindex="91" /> </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td> <input type="text" name="txtEmpVioDate4" id="txtEmpVioDate4" class="form-control isdate" autocomplete="off" tabindex="92" /> </td>
                                <td> <input type="text" name="txtEmpID4" id="txtEmpID4" class="form-control height-auto" tabindex="93" /> </td>
                                <td> <input type="text" name="txtProID4" id="txtProID4" class="form-control height-auto" tabindex="94" /> </td>
                                <td> <input type="text" name="txtDefID4" id="txtDefID4" class="form-control height-auto" tabindex="95" /> </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td> <input type="text" name="txtEmpVioDate5" id="txtEmpVioDate5" class="form-control isdate" autocomplete="off" tabindex="96" /> </td>
                                <td> <input type="text" name="txtEmpID5" id="txtEmpID5" class="form-control height-auto" tabindex="97" /> </td>
                                <td> <input type="text" name="txtProID5" id="txtProID5" class="form-control height-auto" tabindex="98" /> </td>
                                <td> <input type="text" name="txtDefID5" id="txtDefID5" class="form-control height-auto" tabindex="99" /> </td>
                            </tr>

                        </tbody>
                    </table>
                    <table class="table table-striped table-bordered table-hover align-center" style="width:90%;">
                        <tr>
                            <td align="center"><input type="submit" id="Submit" name="Submit" width="40" value="Submit" class="btn green purple-stripe " tabindex="105" /></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/Content/themes/assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script src="~/Content/themes/assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Content/themes/assets/plugins/jquery-multi-select/js/jquery.multi-select.js"></script>
    <script src="~/Content/themes/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.js"></script>
    <script src="~/Content/themes/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script>
        $('.isdate').datepicker({ dateFormat: "mm/dd/yy" });
        $("#frmaddnew").validate();
        $("#Submit").click(function (e) {
            if($('#lblGr').text()!="")
            {
                e.preventDefault();
                alert('Kiểm tra lại nhóm tổ/ Worklot');
            }
        });

    jQuery(document).ready(function () {
        $(function () {
            $(document).on('keypress', function (e) {
                var that = document.activeElement;
                if (e.which == 13) {
                    e.preventDefault();
                    $('[tabIndex=' + (+that.tabIndex + 1) + ']')[0].focus();
                }
            });
        });
        $('#txtQCID').focus();

        // CHECK GROUP EXIST
        $('#txtGroup').blur(function () {
            var Gr = $('#txtGroup').val();
            if (Gr != "") {
                $.ajax({
                    url: '/QCModule/GetGroupInformation/',
                    type: 'POST',
                    data: { Gr: Gr },
                    success: function (resultR) {
                        //alert(result.ASST_ID);
                        if (resultR == null) {
                            $("#lblGr").empty();
                            $("#lblGr").append("Group không tồn tại!");
                        }
                        else {
                            $("#lblGr").empty();
                        }
                    }
                });
            }
            else { $("#lblGr").empty(); }
        });


        //check employee exist
        $("input").blur(function () {
            if ((this.name).substring(0, 8) == "txtEmpID") {
                var index = (this.name).substring(8, 9);
                var Emp = $("#txtEmpID" + index).val();
                if (Emp != "") {
                    $.ajax({
                        url: '/QCModule/GetEmpInformation/',
                        type: 'POST',
                        data: { Emp: Emp },
                        success: function (result) {
                            if (result == null) {
                                alert('Mã NV ' + Emp + ' Không tồn tại, liên hệ QC Clerk')
                            }
                            else {
                            }
                        }
                    });
                }

            }
        });
    });
    </script>
}