@{
    ViewBag.Title = "REWORK SCAN";
}
@section Styles {
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <link href="~/Content/themes/assets/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/assets/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <!-- END PAGE LEVEL PLUGIN STYLES -->
}
<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
             <small>Rework Scan</small>
        </h3>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN EXAMPLE TABLE PORTLET-->
@using (Html.BeginForm("AddRework", "QCModule", FormMethod.Post,new { name = "frmScanDefect", id = "frmScanDefect" }))
{
    <div class="portlet box gray">
        <div class="portlet-title">

        </div>
        <div class="portlet-body ">
            <div class="row margin-bottom-10">
                <div class="col-md-1 bold" style="line-height: 32px; text-align: right">
                    Mã NV QC:
                </div>
                <div class="col-md-1">
                    <input type="text" name="txtQCID" id="txtQCID" class="form-control isdate" autocomplete="off" tabindex="1" value="" required />
                </div>
                <div class="col-md-1 bold" style="line-height: 32px; text-align: right">
                    Tổ SX:
                </div>
                <div class="col-md-1">
                    <input type="text" name="txtGroup" id="txtGroup" class="form-control isdate" autocomplete="off" tabindex="2" value="" required />
                </div>
                <div class="col-md-1 bold" style="line-height: 32px; text-align: right">
                    Work Lot:
                </div>
                <div class="col-md-1">
                    <input type="text" name="txtWL" id="txtWL" class="form-control isdate" autocomplete="off"s tabindex="3" value="" required />
                </div>
            </div>

            <div class="row margin-bottom-10">
                <div class="col-md-2">
                </div>
                <div class="col-md-2">
                    <label id="lblGr" style="color:red; font-style:italic; font:bold 12px; text-align:right; width:100% "></label>
                </div>
                <div class="col-md-2">
                    <label id="lblWL" style="color:red; font-style:italic; font:bold 12px; text-align:right; width:100%"></label>
                </div>
            </div>

            <div class="row">
                <div class="table-responsive" style="align-items:center; margin-top:15px;">
                    <table class="table table-striped table-bordered table-hover align-center" style="width:60%;">
                        <thead class="portlet-body">
                            <tr>
                                <th style="text-align:center">No.</th>
                                <th style="text-align:center">Mã CN</th>
                                <th style="text-align:center">Tổng Mẫu</th>
                                <th style="text-align:center">Mã CĐ</th>
                                <th style="text-align:center">Mã Lỗi</th>
                                <th style="text-align:center">Số Lỗi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td >1</td>
                                <td > <input type="text" name="txtEmpID1" id="txtEmpID1" class="form-control height-auto" tabindex="4" value="" /> </td>
                                <td > <input type="text" name="txtTotal1" id="txtTotal1" class="form-control height-auto" tabindex="5" value="" /> </td>
                                <td > <input type="text" name="txtProID1" id="txtProID1" class="form-control height-auto" tabindex="6" value="" /> </td>
                                <td > <input type="text" name="txtDefID1" id="txtDefID1" class="form-control height-auto" tabindex="7" value="" /> </td>
                                <td> <input type="text" name="txtQty1" id="txtQty1" class="form-control height-auto" tabindex="8" value="" /> </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td> <input type="text" name="txtEmpID2" id="txtEmpID2" class="form-control height-auto" tabindex="9" /> </td>
                                <td> <input type="text" name="txtTotal2" id="txtTotal2" class="form-control height-auto" tabindex="10" /> </td>
                                <td> <input type="text" name="txtProID2" id="txtProID2" class="form-control height-auto" tabindex="11" /> </td>
                                <td> <input type="text" name="txtDefID2" id="txtDefID2" class="form-control height-auto" tabindex="12" /> </td>
                                <td> <input type="text" name="txtQty2" id="txtQty2" class="form-control height-auto" tabindex="13" /> </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td> <input type="text" name="txtEmpID3" id="txtEmpID3" class="form-control height-auto" tabindex="14" /> </td>
                                <td> <input type="text" name="txtTotal3" id="txtTotal3" class="form-control height-auto" tabindex="15" /> </td>
                                <td> <input type="text" name="txtProID3" id="txtProID3" class="form-control height-auto" tabindex="16" /> </td>
                                <td> <input type="text" name="txtDefID3" id="txtDefID3" class="form-control height-auto" tabindex="17" /> </td>
                                <td> <input type="text" name="txtQty3" id="txtQty3" class="form-control height-auto" tabindex="18" /> </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td> <input type="text" name="txtEmpID4" id="txtEmpID4" class="form-control height-auto" tabindex="19" /> </td>
                                <td> <input type="text" name="txtTotal4" id="txtTotal4" class="form-control height-auto" tabindex="20" /> </td>
                                <td> <input type="text" name="txtProID4" id="txtProID4" class="form-control height-auto" tabindex="21" /> </td>
                                <td> <input type="text" name="txtDefID4" id="txtDefID4" class="form-control height-auto" tabindex="22" /> </td>
                                <td> <input type="text" name="txtQty4" id="txtQty4" class="form-control height-auto" tabindex="23" /> </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td> <input type="text" name="txtEmpID5" id="txtEmpID5" class="form-control height-auto" tabindex="24" /> </td>
                                <td> <input type="text" name="txtTotal5" id="txtTotal5" class="form-control height-auto" tabindex="25" /> </td>
                                <td> <input type="text" name="txtProID5" id="txtProID5" class="form-control height-auto" tabindex="26" /> </td>
                                <td> <input type="text" name="txtDefID5" id="txtDefID5" class="form-control height-auto" tabindex="27" /> </td>
                                <td> <input type="text" name="txtQty5" id="txtQty5" class="form-control height-auto" tabindex="28" /> </td>
                            </tr>
                            <tr>
                                <td colspan="6" align="center"><input type="submit" name="Submit" width="40" value="Submit" class="btn green purple-stripe margin-bottom-10" tabindex="105"/></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/Content/themes/assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script src="~/Content/themes/assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Content/themes/assets/plugins/jquery-multi-select/js/jquery.multi-select.js"></script>
    <script src="~/Content/themes/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.js"></script>
    <script src="~/Content/themes/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script>
        $("#frmaddnew").validate();

    jQuery(document).ready(function () {
        $(function () {
            $(document).on('keypress', function (e) {
                var that = document.activeElement;
                if (e.which == 13) {
                    e.preventDefault();
                    //alert("dd");
                    $('[tabIndex=' + (+that.tabIndex + 1) + ']')[0].focus();
                }
            });
        });
        $('#txtQCID').focus();

        $('#txtWL').blur(function () {
            var WL = $('#txtWL').val();
            $.ajax({
                url: '/QCModule/GetWLInformation/',
                type: 'POST',
                data: { WL: WL },
                success: function (result) {
                    //alert(result.ASST_ID);
                    if (result == null)
                    {
                        $("#lblWL").empty();
                        $("#lblWL").append("WL không tồn tại!");
                    }
                    else
                    {
                        $("#lblWL").empty();
                    }
                }
                //My database column is called STREET
            });
        });

        // CHECK GROUP EXIST
        $('#txtGroup').blur(function () {
            var Gr = $('#txtGroup').val();
            if (Gr != "") {
                $.ajax({
                    url: '/QCModule/GetGroupInformation/',
                    type: 'POST',
                    data: { Gr: Gr },
                    success: function (resultR) {
                        //alert(result.ASST_ID);
                        if (resultR == null) {
                            $("#lblGr").empty();
                            $("#lblGr").append("Group không tồn tại!");
                        }
                        else {
                            $("#lblGr").empty();
                        }
                    }
                });
            }
            else { $("#lblGr").empty(); }
        });


        //check employee exist
        $("input").blur(function () {
            if ((this.name).substring(0, 8) == "txtEmpID")
            {
                var index = (this.name).substring(8, 9);
                var Emp = $("#txtEmpID" + index).val();
                if (Emp != "")
                {
                    $.ajax({
                        url: '/QCModule/GetEmpInformation/',
                        type: 'POST',
                        data: { Emp: Emp },
                        success: function (result) {
                            if (result == null) {
                                alert('Mã NV ' + Emp + ' Không tồn tại, liên hệ QC Clerk')
                            }
                            else {
                            }
                        }
                    });
                }

            }
        }); //dont forget this semicolon

    });
    </script>
}