@using ProductionApp.Models
@section Styles {
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <link href="~/Content/themes/assets/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/assets/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <!-- END PAGE LEVEL PLUGIN STYLES -->
}
@{
    string status = ViewBag.Status;

    List<PROC_GET_ALL_MODULES_Result> AllModules = ViewBag.AllModules;


}

@using (Html.BeginForm("UploadData", "CTMstDataModule", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        <!-- BEGIN PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                <small>Upload Cutting Master Data</small>
            </h3>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
    <!-- END PAGE HEADER-->

        <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet box gray">
        <div class="portlet-title">
        </div>

        <div class="portlet-body ">
            <div class="row margin-bottom-20">

                @if (AllModules != null)
                {
                    for (int i = 0; i < AllModules.Count; i++)
                    {

                        <div class="col-md-1 bold" style="line-height: 32px; text-align: left">
                            <input type="radio" id="RdoModule" name="RdoModule" value="@AllModules[i].MO_ID" style="" /> @AllModules[i].MO_NAME
                        </div>

                    }
                }
            </div>
            <div class="row margin-bottom-10">

                <table class="table-actions-wrapper margin-bottom-10">
                    <tr>
                        <td style="color:red; margin-top:10px;" colspan="2">@(status == null ? "" : status.ToString())</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="file" id="UploadedFile" name="UploadedFile" class="uploader  margin-bottom-10" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" name="Submit" id="Submit" value="Submit" class="btn green purple-stripe margin-bottom-10" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
}

@section Scripts {
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/Content/themes/assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script src="~/Content/themes/assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Content/themes/assets/plugins/jquery-multi-select/js/jquery.multi-select.js"></script>
    <script src="~/Content/themes/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.js"></script>
    <script src="~/Content/themes/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script>
        $("#Submit").click(function (e) {
            //var selected = $('input[name=RdoModule]:checked').val();
            //var a = $('.RdoModule').is(":checked");
            var a = $('input[name=RdoModule]').is(":checked");
            //alert(a);
            if (a == false) {
                //$('input[name=radioName]:radio:checked').val()
                alert('Please select a module to upload.');
                e.preventDefault();
                return 0;
            }

            if ($('#UploadedFile').get(0).files.length === 0) {
                alert("No files selected.");
                e.preventDefault();
                return 0;
            }

        });
    </script>
}