@section Styles {
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <link href="~/Content/themes/assets/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/assets/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <!-- END PAGE LEVEL PLUGIN STYLES -->
}


@using (Html.BeginForm("upload", "Masterdata", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        <!-- BEGIN PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                <small>Upload Data</small>
            </h3>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
    <!-- END PAGE HEADER-->

        <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet box gray">
        <div class="portlet-title">
            <table class="table-actions-wrapper margin-bottom-10">
                <tr>
                    <td></td>
                    <td>
                        <input type="file" name="UploadedFile" class="uploader  margin-bottom-10" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" name="Submit" value="Submit" class="btn green purple-stripe margin-bottom-10" />
                    </td>
                </tr>
            </table>
        </div>
        </div>
}
