
@{
    ViewBag.Title = "Index";
}
@section Styles {
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <link href="~/Content/themes/assets/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/assets/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <!-- END PAGE LEVEL PLUGIN STYLES -->
}
<meta http-equiv="refresh" content="300">
<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            <small>CUTTING TABLE MONITORING</small>
        </h3>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->


<!-- BEGIN EXAMPLE TABLE PORTLET-->
<div class="portlet box gray">
    <div class="portlet-title">
    <div class="row margin-bottom-10">
    </div>
    </div>
    <div class="portlet-body" >
        <div class="row margin-bottom-10">
            <div class="col-md-1 bold" style="line-height: 32px; text-align: right">
                DATE
            </div>
            <div class="col-md-2">
                <input type="text" name="txtDate" id="txtDate" class="form-control isdate" autocomplete="off" />
            </div>
            <div class="col-md-2">
                <input type="submit" name="Submit" id="Submit" value="Submit" class="btn green purple-stripe margin-bottom-10" />
            </div>
        </div>
        <div id="materialchange" class="row margin-bottom-10">
            @Html.Action("ShowTBLMonitoring", "CTModule")
        </div>
    </div>
</div>
    

@section Scripts {
    <!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="~/Content/themes/assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<script src="~/Content/themes/assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script src="~/Content/themes/assets/plugins/jquery-multi-select/js/jquery.multi-select.js"></script>
<script src="~/Content/themes/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.js"></script>
<script src="~/Content/themes/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script>
    $('.isdate').datepicker({ dateFormat: "mm/dd/yy" });
        
    $('#Submit').click(function (e) {
        var Date = $('#txtDate').val();
            //alert(Date);
            $("#materialchange").load("/CTModule/ShowTBLMonitoring",
            { id: Date });
                    
        });
</script>
}