@model ProductionApp.Models.TBL_USERS_MST
@{
    ViewBag.Title = "Change Password";
}
@section Styles {
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <link href="~/Content/themes/assets/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/assets/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/assets/plugins/bootstrap-fileupload/bootstrap-fileupload.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/themes/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
}



<div class="panel panel-default" style="margin: 0 auto; max-width: 600px" >
<div class="panel-heading">Change Password</div>
<div class="panel-body">

    @using(Html.BeginForm("ChangePassword" ,"Account" ,new
    {
        ReturnUrl = ViewBag.ReturnUrl
    } ,FormMethod.Post ,new
    {
        @class = "form-horizontal" ,
        role = "form"
    }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-4">
                New Password<br>
                <input id="Password" name="Password" type="password" data-val-equalto-other="*.Password" data-val-required="Required." data-val="true" class="form-control" />
            </div>

            <div class="col-md-4">
                Re-enter Password<br>
                <input data-val="true" data-val-equalto="Password and Confirmation Password must match." data-val-equalto-other="*.Password" data-val-required="Required." id="ConfirmPassword" name="ConfirmPassword" type="password" class="form-control" />
                <span class="field-validation-valid error" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
            </div>

            <div class="col-md-4">
                <br>
                <input type="submit" value="Change Password"  class="btn btn-primary"/>
            </div>

        </div>
    }
</div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
