@model ProductionApp.Models.TBL_USERS_MST
@{
    ViewBag.Title = "Reset Password";
}


@Html.Raw(TempData["msg"])
<div class="panel panel-default" style="margin: 0 auto; max-width: 600px">
    <div class="panel-heading">Reset Password</div>
    <div class="panel-body">

        @using(Html.BeginForm("ResetPassword" ,"Account" ,new
    {
        ReturnUrl = ViewBag.ReturnUrl
    } ,FormMethod.Post ,new
    {
        @class = "form-horizontal" ,
        role = "form"
    }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-4">
                    UserName<br>
                    <input id="userName" name="userName" type="text" class="form-control" />
                </div>

                <div class="col-md-4">
                   Email<br>
                    <input id="mail" name="mail" type="text" class="form-control" />
                </div>
                <div class="col-md-4">
                    <br>
                    <input type="submit" value="Reset Password" class="btn btn-primary" />
                </div>

            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
